# Mise à disposition du jeu de données stroke_dataset via une API REST

## Description du dataset

Le jeu de données utilisé provient de Kaggle : [Stroke Prediction Dataset](https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset).  
Il contient des données de patients avec différentes caractéristiques médicales et sociales, ainsi que l'information si le patient a subi un accident vasculaire cérébral (AVC) ou non.

Télécharger les données et ajouter les dans un dossier data/.

Les colonnes des données sont :  
- `id` : Identifiant unique du patient  
- `gender` : Sexe  
- `age` : Âge  
- `hypertension` : Présence d'hypertension (0 ou 1)  
- `heart_disease` : Présence de maladie cardiaque (0 ou 1)  
- `ever_married` : Statut marital  
- `work_type` : Type d'emploi  
- `Residence_type` : Urbaine ou rurale  
- `avg_glucose_level` : Moyenne du taux de glucose  
- `bmi` : Indice de masse corporelle  
- `smoking_status` : Statut tabagique  
- `stroke` : Présence d'AVC (0 ou 1)

## Projet

Vous devez exposer les données patients du jeu de données via une API REST afin que les données soit utilisables par d'autres équipes (médecins, data science, étude, etc.).

Cette API REST sera développée avec FastAPI et les spécifications sont les suivantes :
| Méthode | Endpoint                                      | Fonctionnalité                                                                                                    |
| ------- | --------------------------------------------- | ----------------------------------------------------------------------------------------------------------------- |
| `GET`   | `/patients/{id}`                              | Récupère les détails d’un patient donné (via son identifiant unique)                                              |
| `GET`   | `/patients?stroke=1&gender=Female&max_age=60` | Renvoie les patients filtrés selon plusieurs critères : AVC (oui/non), genre, âge maximal                         |
| `GET`   | `/stats/`                                     | Fournit des statistiques agrégées sur les patients (ex. : nb total de patients, âge moyen, taux d’AVC, répartition hommes/femmes, etc.) |



---

## Quelques définitions


1. Qu’est-ce qu’une API REST ?

- API signifie Application Programming Interface (Interface de Programmation d’Application). C’est un ensemble de règles et de protocoles qui permettent à des logiciels de communiquer entre eux.
- REST signifie Representational State Transfer. C’est un style architectural pour concevoir des services web.
Il en existe d'autres mais REST est celui que vous rencontrerez le plus souvent.
- Vous avez utilisé une API REST via l'API Google Books.

- A quoi sert une API REST ?

    - Permet à différentes applications de communiquer facilement, même si elles sont écrites dans des langages différents.
    - Permet d’accéder à des services distants (ex : bases de données, services web) de manière standardisée.
    - Facilite la création d’applications modulaires et évolutives (front-end, back-end, mobile, etc.)

2. Principes clés d’une API REST

- a. Utilisation du protocole HTTP
Les échanges entre client et serveur utilisent des méthodes HTTP standard comme :

    - GET : pour récupérer des données
    - POST : pour envoyer ou créer des données
    - PUT : pour mettre à jour des données
    - DELETE : pour supprimer des données

- b. Accès aux ressources via des URLs

Chaque ressource (par exemple un livre, un utilisateur) est accessible via une URL unique.

Exemple fictif:
    https://api.example.com/books/123 pour accéder au livre d’identifiant 123.

- c. Stateless (sans état)

Le serveur ne conserve aucune information sur le client entre deux requêtes. Chaque requête doit contenir toutes les informations nécessaires.

- d. Représentations des données

Les données sont envoyées et reçues généralement en format JSON ou XML, qui sont faciles à lire et à manipuler.

- e. Utilisation de codes status HTTP

Chaque réponse du serveur est accompagnée d’un code HTTP indiquant le résultat de la requête. (cf [liste des codes](https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Status))

## Outils utilisés
1. FastAPI

FastAPI est un framework Python moderne, rapide et très utilisé dans le milieu professionnel pour construire des API REST. 

Il permet :
- une définition simple des routes et des paramètres  
- La génération automatique de documentation interactive (Swagger UI)  
- FastAPI lit les requêtes entrantes, les traite avec ton code Python, et retourne une réponse HTTP (en JSON).

2. Uvicorn : exécute l'application FastAPI

- Uvicorn est un serveur ASGI (Asynchronous Server Gateway Interface) : c'est une interface standard pour gérer les requêtes de manière asynchrone et performante, notamment utile pour les applications modernes.
- Il attend les requêtes HTTP (par exemple depuis un navigateur), les transmet à FastAPI, et renvoie la réponse.
- Uvicorn permet à l'API de fonctionner : sans Uvicorn ou un autre serveur, FastAPI ne peut pas fonctionner.


3. Swagger UI : l’interface de doc et test interactive

- Swagger UI est généré automatiquement par FastAPI.
- C’est une interface web qui permet de :
    - Voir toutes les routes disponibles dans l'API
    - Tester les routes en envoyant des requêtes sans écrire de code (bouton try it out)
    - Voir les paramètres attendus et les formats de réponse
    
4. Résumé des interactions

- Tester la route de base de l'API grâce à la commande :
```bash
    poetry run fastapi dev stroke_api/main.py
```

--> Qu'est-ce qu'il se passe derrière cette commande ?

- Uvicorn démarre un serveur local
- FastAPI génère automatiquement une interface : Swagger UI, accessible sur http://127.0.0.1:8000/docs qui affiche toutes les routes définies dans le code python FastAPI
- Quand on clique sur "Try it out" dans Swagger UI, Swagger envoie une requête HTTP au serveur (ici Uvicorn)
- Le serveur (Uvicorn) la reçoit, l’envoie à FastAPI, qui traite et renvoie une réponse
- Swagger UI affiche la réponse de l’API (par ex : liste de patients)

---

Import des bibliothèques utiles au projet

In [78]:
import pandas as pd
from typing import Literal
import warnings

# on désactive un warning spécifique pour quelque chose dont on s'occupe bien
warnings.filterwarnings('ignore', message='Mean of empty slice', category=RuntimeWarning)

## 1. Prétraitement des données / Data preprocessing

Les données réelles sont rarement prêtes à être utilisées directement. Elles peuvent contenir des erreurs, des valeurs manquantes, des doublons, des formats incohérents, ou ne pas être adaptées au modèle ou au système cible.

Le prétraitement consiste à nettoyer, structurer et transformer les données brutes avant de les exploiter dans un projet (modèle IA, API, visualisation, etc.).

Vous avez déjà prétraité des données, petit rappel des éléments sur lesquels travailler dans un prétraitment classique et les méthodes pandas qu'il est possible d'utiliser pour les différentes étapes (des exeples d'utilisation des méthodes pandas sont disponibles dans la doc) : 
- explorer les données pour identifier les types de données, valeurs manquantes, incohérence ([info](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html), [dtypes](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dtypes.html))
- adapter les types si nécessaire ([astypes](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html))
- identifier les doublons et les supprimer s'il y en a ([duplicated](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.duplicated.html), [drop_duplicates](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop_duplicates.html))
- traiter les valeurs manquantes s'il y en a ([fillna](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html), [dropna](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html), [replace](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.replace.html))
- identifier les incohérences éventuelles (valeurs aberrantes/outliers) en vérifiant si les valeurs min, max, moyennes sont raisonnables (recherche internet si nécessaire) ([describe](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html)), et les traiter.
- Traiter les valeurs aberrantes si vous en détectez ([loc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html) pour récupérer les lignes qui répondent à une certaine condition, cf exemple ci-dessous)


**Exemple df.loc :**

Récupérer toutes les lignes de df telles que la valeur de "nom de colonne" >= 0

```df_subset = df.loc[stroke_data_df['nom de colonne'] >= 0]```

---
### **TODO**
1.a. Prétraiter les données du dataset.


1.b. Documenter dans le README.md :
- Les étapes de prétraitement,
- Justification des choix concernant le traitement des valeurs manquantes (si besoin),
- Liste des valeurs raisonnables utilisées pour détecter les valeurs aberrantes, 
- Justification des choix pour traiter les valeurs aberrantes (si besoin).

2.a. Chercher des infos sur le format de fichier parquet et indiquer les sources consultées : 
- Différence principale avec le format csv ?
- Dans quels cas l'utiliser ? 
- Pourquoi c'est un format adapté aux gros volumes de données ?



2.b. Sauvegarder les données prétraiteées dans un fichier parquet ([to_parquet](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_parquet.html)).

In [79]:
# Prétraitement de données
data = pd.read_csv('../data/healthcare-dataset-stroke-data.csv')
data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [80]:
data.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [81]:
data.columns = data.columns.str.lower()

In [82]:
print(data.columns)

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [83]:
def get_info_every_col(df:pd.DataFrame):
    for i in df.columns:
        print(f'{df[i].value_counts()}')
        print(f'data type: {df[i].dtype}\n')

get_info_every_col(data)

id
9046     1
22194    1
15104    1
28315    1
56996    1
        ..
897      1
4789     1
5686     1
37451    1
44679    1
Name: count, Length: 5110, dtype: int64
data type: int64

gender
Female    2994
Male      2115
Other        1
Name: count, dtype: int64
data type: object

age
78.00    102
57.00     95
52.00     90
54.00     87
51.00     86
        ...
1.40       3
0.48       3
0.16       3
0.40       2
0.08       2
Name: count, Length: 104, dtype: int64
data type: float64

hypertension
0    4612
1     498
Name: count, dtype: int64
data type: int64

heart_disease
0    4834
1     276
Name: count, dtype: int64
data type: int64

ever_married
Yes    3353
No     1757
Name: count, dtype: int64
data type: object

work_type
Private          2925
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: count, dtype: int64
data type: object

residence_type
Urban    2596
Rural    2514
Name: count, dtype: int64
data type: object

avg_glucose_level
93.88     6
91.68     5
91.85     5
83.16     5
73.00     5
         ..
111.93    1
94.40     1
95.57     1
66.29     1
85.28     1
Name: count, Length: 3979, dtype: int64
data type: float64

bmi
28.7    41
28.4    38
26.7    37
27.6    37
26.1    37
        ..
48.7     1
49.2     1
51.0     1
49.4     1
14.9     1
Name: count, Length: 418, dtype: int64
data type: float64

smoking_status
never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: count, dtype: int64
data type: object

stroke
0    4861
1     249
Name: count, dtype: int64
data type: int64

In [94]:
# Dans smoking status, remplacer "Unknown" par "not specified"
data['smoking_status'] = data['smoking_status'].replace('Unknown', 'not specified')

In [95]:
data['gender'] = data['gender'].apply(lambda x: x.lower())
data['ever_married'] = data['ever_married'].apply(lambda x: x.lower())
data['work_type'] = data['work_type'].apply(lambda x: x.lower())
data['residence_type'] = data['residence_type'].apply(lambda x: x.lower())
data['smoking_status'] = data['smoking_status'].apply(lambda x: x.lower())

data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,male,67.0,0,1,yes,private,urban,228.69,36.6,formerly smoked,1
1,51676,female,61.0,0,0,yes,self-employed,rural,202.21,NaN,never smoked,1
2,31112,male,80.0,0,1,yes,private,rural,105.92,32.5,never smoked,1
3,60182,female,49.0,0,0,yes,private,urban,171.23,34.4,smokes,1
4,1665,female,79.0,1,0,yes,self-employed,rural,174.12,24.0,never smoked,1

In [85]:
data.duplicated().sum()

np.int64(0)

In [86]:
def fill_bmi(df: pd.DataFrame) -> pd.DataFrame:
    df = df.copy()
    df['bmi'] = df.groupby(['age', 'gender'], observed=True)['bmi'].transform(lambda x: x.fillna(x.median()))
    # on peut voir un avertissement nous indiquant la présence de groupes sans données valides

    # Remplace les valeurs manquantes par la moyenne du BMI suivant le sexe
    df['bmi'] = df['bmi'].fillna(df.groupby('gender', observed=True)['bmi'].transform('median'))
    return df

data_filled = fill_bmi(data)
display(data_filled)

data_filled.isna().sum()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,male,67.0,0,1,yes,private,urban,228.69,36.6,formerly smoked,1
1,51676,female,61.0,0,0,yes,self-employed,rural,202.21,29.3,never smoked,1
2,31112,male,80.0,0,1,yes,private,rural,105.92,32.5,never smoked,1
3,60182,female,49.0,0,0,yes,private,urban,171.23,34.4,smokes,1
4,1665,female,79.0,1,0,yes,self-employed,rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,female,80.0,1,0,yes,private,urban,83.75,27.6,never smoked,0
5106,44873,female,81.0,0,0,yes,self-employed,urban,125.20,40.0,never smoked,0
5107,19723,female,35.0,0,0,yes,self-employed,rural,82.99,30.6,never smoked,0
5108,37544,male,51.0,0,0,yes,private,rural,166.29,25.6,formerly smoked,0
5109,44679,female,44.0,0,0,yes,govt_job,urban,85.28,26.2,unknown,0

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [87]:
# export to parquet

data_filled.to_parquet('../data/data.parquet')

In [88]:
parquet_file_test = pd.read_parquet('../data/data.parquet')
parquet_file_test.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,male,67.0,0,1,yes,private,urban,228.69,36.6,formerly smoked,1
1,51676,female,61.0,0,0,yes,self-employed,rural,202.21,29.3,never smoked,1
2,31112,male,80.0,0,1,yes,private,rural,105.92,32.5,never smoked,1
3,60182,female,49.0,0,0,yes,private,urban,171.23,34.4,smokes,1
4,1665,female,79.0,1,0,yes,self-employed,rural,174.12,24.0,never smoked,1

-----
## Développement de l'API

A présent que les données sont propres, on peut débuter la création de l'API.

Pour cela, vous allez avoir besoin de quelques fonctions permettant de filtrer les données.

Vous allez les définir ci-dessous, ce qui vous permettra de les tester puis les fonctions seront reportées dans le fichier filters.py.

## Route `/patients/`
- Cette route retourne une liste filtrée de patients
- On souhaite pouvoir filtrer par `gender`, `stroke` ou `max_age`

L'objectif est ici de définir une fonction python qui prend en entrée les paramètres optionnels : _gender_, *stroke*, *max_age* et qui renvoie un dictionnaire filtré des données.

On décompose la rédaction de cette fonction en plusieurs étapes. 

Dans un premier temps, écrire et tester les filtres que l'on souhaite appliquer sur les données (utiliser [loc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html))

In [89]:
# Filtrer le dataframe pour ne garder que les patients pour lesquels "stroke=1"
data_filled.loc[data_filled['stroke'] == 1]

,id,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,male,67.0,0,1,yes,private,urban,228.69,36.6,formerly smoked,1
1,51676,female,61.0,0,0,yes,self-employed,rural,202.21,29.3,never smoked,1
2,31112,male,80.0,0,1,yes,private,rural,105.92,32.5,never smoked,1
3,60182,female,49.0,0,0,yes,private,urban,171.23,34.4,smokes,1
4,1665,female,79.0,1,0,yes,self-employed,rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
244,17739,male,57.0,0,0,yes,private,rural,84.96,36.7,unknown,1
245,49669,female,14.0,0,0,no,children,rural,57.93,30.9,unknown,1
246,27153,female,75.0,0,0,yes,self-employed,rural,78.80,29.3,formerly smoked,1
247,34060,male,71.0,1,0,yes,self-employed,rural,87.80,30.4,unknown,1
248,43424,female,78.0,0,0,yes,private,rural,78.81,19.6,unknown,1

In [90]:
# Filtrer les données pour ne garder que les patients pour lesquels "gender="male"
data_filled.loc[data_filled['gender'] == 'male']

,id,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,male,67.0,0,1,yes,private,urban,228.69,36.6,formerly smoked,1
2,31112,male,80.0,0,1,yes,private,rural,105.92,32.5,never smoked,1
5,56669,male,81.0,0,0,yes,private,urban,186.21,29.0,formerly smoked,1
6,53882,male,74.0,1,1,yes,private,rural,70.09,27.4,never smoked,1
13,8213,male,78.0,0,1,yes,private,urban,219.84,27.1,unknown,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5097,64520,male,68.0,0,0,yes,self-employed,urban,91.68,40.8,unknown,0
5098,579,male,9.0,0,0,no,children,urban,71.88,17.5,unknown,0
5099,7293,male,40.0,0,0,yes,private,rural,83.94,28.2,smokes,0
5100,68398,male,82.0,1,0,yes,self-employed,rural,71.97,28.3,never smoked,0
5108,37544,male,51.0,0,0,yes,private,rural,166.29,25.6,formerly smoked,0

In [91]:
# Filtrer les données pour ne garder que les patients tels que "age <= max_age"
data_filled.loc[data_filled['age'] <= data_filled['age'].max()]

,id,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,male,67.0,0,1,yes,private,urban,228.69,36.6,formerly smoked,1
1,51676,female,61.0,0,0,yes,self-employed,rural,202.21,29.3,never smoked,1
2,31112,male,80.0,0,1,yes,private,rural,105.92,32.5,never smoked,1
3,60182,female,49.0,0,0,yes,private,urban,171.23,34.4,smokes,1
4,1665,female,79.0,1,0,yes,self-employed,rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,female,80.0,1,0,yes,private,urban,83.75,27.6,never smoked,0
5106,44873,female,81.0,0,0,yes,self-employed,urban,125.20,40.0,never smoked,0
5107,19723,female,35.0,0,0,yes,self-employed,rural,82.99,30.6,never smoked,0
5108,37544,male,51.0,0,0,yes,private,rural,166.29,25.6,formerly smoked,0
5109,44679,female,44.0,0,0,yes,govt_job,urban,85.28,26.2,unknown,0

Appliquer successivement les 3 filtres au sein d'une fonction qui prend en entrée le dataframe, _stroke_, _gender_, _max_age_ et qui renvoie une liste de dictionnaire de patients (utiliser la méthode pandas [to_dict](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_dict.html)).

Exemple
```
[{'id': 9046,
  'gender': 'Male',
  'age': 67.0,
  ...
  'smoking_status': 'formerly smoked',
  'stroke': 1},
 {'id': 31112,
  'gender': 'Male',
  'age': 80.0,
  ...
  'smoking_status': 'formerly smoked',
  'stroke': 1}]
  ```

In [92]:
def filter_patient(df: pd.DataFrame, max_age: float, gender: Literal['male', 'female', 'other'], stroke: Literal[0,1]) -> list[dict]:
    df = df.copy()
    df = df.loc[(df['stroke'] == stroke) &(df['gender'] == gender) &(df['age'] <= max_age)]
    result = df.to_dict('records')
    return result

print(filter_patient(data_filled, 30, 'female', 0)[:5])

[{'id': 16523, 'gender': 'female', 'age': 8.0, 'hypertension': 0, 'heart_disease': 0, 'ever_married': 'no', 'work_type': 'private', 'residence_type': 'urban', 'avg_glucose_level': 110.89, 'bmi': 17.6, 'smoking_status': 'unknown', 'stroke': 0}, {'id': 19584, 'gender': 'female', 'age': 20.0, 'hypertension': 0, 'heart_disease': 0, 'ever_married': 'no', 'work_type': 'private', 'residence_type': 'urban', 'avg_glucose_level': 84.62, 'bmi': 19.7, 'smoking_status': 'smokes', 'stroke': 0}, {'id': 70336, 'gender': 'female', 'age': 25.0, 'hypertension': 0, 'heart_disease': 0, 'ever_married': 'yes', 'work_type': 'private', 'residence_type': 'urban', 'avg_glucose_level': 60.84, 'bmi': 24.5, 'smoking_status': 'never smoked', 'stroke': 0}, {'id': 33759, 'gender': 'female', 'age': 3.0, 'hypertension': 0, 'heart_disease': 0, 'ever_married': 'no', 'work_type': 'children', 'residence_type': 'urban', 'avg_glucose_level': 73.74, 'bmi': 16.0, 'smoking_status': 'unknown', 'stroke': 0}, {'id': 36811, 'gender': 'female', 'age': 23.0, 'hypertension': 0, 'heart_disease': 0, 'ever_married': 'no', 'work_type': 'private', 'residence_type': 'urban', 'avg_glucose_level': 94.09, 'bmi': 30.9, 'smoking_status': 'never smoked', 'stroke': 0}]

A présent on souhaite ajouter des informations sur les types des paramètres et valeurs de retour de la fonction pour faciliter sa compréhension et son utilisation, ce qu’on appelle l’annotation de type (type hinting).

Cette pratique facilite la lecture et la maintenance du code.

Quels changements pour la fonction ?

A la suite de chaque paramètre, on ajoute le type attendu pour le paramètre. À la suite des paramètres on ajoute le type de ce que qui est retourné par la fonction, dans l'exemple ici : 

```def filter_patient(stroke_data_df: pd.DataFrame, gender: str, etc) -> list[dict]```

Ajouter les types dans la définition de la fonction.

Tester la fonction en ne mettant pas de valeur pour *max_age*.

Que se passe-t-il ?

In [93]:
print(filter_patient(df=data_filled, gender='female', stroke=0))

TypeError: filter_patient() missing 1 required positional argument: 'max_age'

Dans la fonction écrite ci-dessus, chaque paramètre est obligatoire. 

On souhaite pouvoir filtrer les patients sur 0, 1 ou 2 des paramètres de la fonction (filtrer seulement sur *max_age*  mais ne pas appliquer de filtres sur _gender_ et _stroke_ par exemple).

On peut rendre optionnel les paramètres d'un fonction en choisissant une valeur par défault. Si on utilise la fonction en n'utilisant pas ces paramètres alors la valeur par défault est utilisé.

Copier coller votre fonction ci-dessous et ajouter en paramètre : `max_age=None`

et ajouter la condition suivante **avant le filtre** sur `max_age` : 

```if max_age is not None : ``` 

Si la fonction _filter_patient_ est appelée sans argument *max_age*, alors le filtre sur *max_age* n'est pas appliqué. 

Il est tout à fait possible de définir une valeur par défault par exemple 30 ans : dans ce cas si la fonction est appelée sans argument *max_age*, alors par défault on filtre les patients ayant moins de 30 ans.

**ATTENTION :** Les paramètres optionnels doivent toujours être à la fin de la liste de paramètres.

In [ ]:
# fonction filter_patient paramètre max_age optionnel
def filter_patient_2(df: pd.DataFrame, gender: Literal['male', 'female', 'other'], stroke: Literal[0,1], max_age: float = None) -> list[dict]:
    df = df.copy()
    df = df.loc[(df['stroke'] == stroke) & (df['gender'] == gender)]
    if max_age is not None:
        df = df.loc[df['age'] <= max_age]

    result = df.to_dict('records')
    return result

In [ ]:
# test fonction sans argument max_age
print(filter_patient_2(df=data_filled, gender='female', stroke=0)[:5])

[{'id': 16523, 'gender': 'female', 'age': 8.0, 'hypertension': 0, 'heart_disease': 0, 'ever_married': 'no', 'work_type': 'private', 'residence_type': 'urban', 'avg_glucose_level': 110.89, 'bmi': 17.6, 'smoking_status': 'unknown', 'stroke': 0}, {'id': 56543, 'gender': 'female', 'age': 70.0, 'hypertension': 0, 'heart_disease': 0, 'ever_married': 'yes', 'work_type': 'private', 'residence_type': 'rural', 'avg_glucose_level': 69.04, 'bmi': 35.9, 'smoking_status': 'formerly smoked', 'stroke': 0}, {'id': 32257, 'gender': 'female', 'age': 47.0, 'hypertension': 0, 'heart_disease': 0, 'ever_married': 'yes', 'work_type': 'private', 'residence_type': 'urban', 'avg_glucose_level': 210.95, 'bmi': 50.1, 'smoking_status': 'unknown', 'stroke': 0}, {'id': 52800, 'gender': 'female', 'age': 52.0, 'hypertension': 0, 'heart_disease': 0, 'ever_married': 'yes', 'work_type': 'private', 'residence_type': 'urban', 'avg_glucose_level': 77.59, 'bmi': 17.7, 'smoking_status': 'formerly smoked', 'stroke': 0}, {'id': 41413, 'gender': 'female', 'age': 75.0, 'hypertension': 0, 'heart_disease': 1, 'ever_married': 'yes', 'work_type': 'self-employed', 'residence_type': 'rural', 'avg_glucose_level': 243.53, 'bmi': 27.0, 'smoking_status': 'never smoked', 'stroke': 0}]

Ajouter des valeurs par défault et les conditions pour chaque filtre.

Pour les types, on indique qu'il s'agit de paramètres optionels en utilisant le module python _typing_

```
from typing import Optional
def filter_patient(stroke_data_df: pd.DataFrame, gender: Optional[str] = None,etc)
```

Adapter les types en utilisant ce modèle.

In [ ]:
# fonction avec ajout de paramètres par défault et de type
def filter_patient_3(df: pd.DataFrame = data, gender: Literal['male', 'female', 'other'] = None, stroke: Literal[0,1] = None, max_age: float = None) -> list[dict]:
    df = df.copy()
    if gender is not None:
        df = df.loc[df['gender'] == gender]
    if stroke is not None:
        df = df.loc[df['stroke'] == stroke]
    if max_age is not None:
        df = df.loc[df['age'] <= max_age]

    result = df.to_dict('records')
    return result

Tester la fonction sans argument pour les filtres, elle doit donc renvoyer le dataframe non filtré.

In [ ]:
# test fonction sans argument pour les filtres
print(filter_patient_3()[:5])

[{'id': 9046, 'gender': 'male', 'age': 67.0, 'hypertension': 0, 'heart_disease': 1, 'ever_married': 'yes', 'work_type': 'private', 'residence_type': 'urban', 'avg_glucose_level': 228.69, 'bmi': 36.6, 'smoking_status': 'formerly smoked', 'stroke': 1}, {'id': 51676, 'gender': 'female', 'age': 61.0, 'hypertension': 0, 'heart_disease': 0, 'ever_married': 'yes', 'work_type': 'self-employed', 'residence_type': 'rural', 'avg_glucose_level': 202.21, 'bmi': nan, 'smoking_status': 'never smoked', 'stroke': 1}, {'id': 31112, 'gender': 'male', 'age': 80.0, 'hypertension': 0, 'heart_disease': 1, 'ever_married': 'yes', 'work_type': 'private', 'residence_type': 'rural', 'avg_glucose_level': 105.92, 'bmi': 32.5, 'smoking_status': 'never smoked', 'stroke': 1}, {'id': 60182, 'gender': 'female', 'age': 49.0, 'hypertension': 0, 'heart_disease': 0, 'ever_married': 'yes', 'work_type': 'private', 'residence_type': 'urban', 'avg_glucose_level': 171.23, 'bmi': 34.4, 'smoking_status': 'smokes', 'stroke': 1}, {'id': 1665, 'gender': 'female', 'age': 79.0, 'hypertension': 1, 'heart_disease': 0, 'ever_married': 'yes', 'work_type': 'self-employed', 'residence_type': 'rural', 'avg_glucose_level': 174.12, 'bmi': 24.0, 'smoking_status': 'never smoked', 'stroke': 1}]

Cette fonction va être utilisée dans la définition de l'API pour créer une route qui permette d'accéder à des données filtrées sur les patients.

Dans le fichier de définition de l'API, toutes les fonctions vont travailler sur les données du fichier. 

Pour alléger les fonctions on va donc utiliser une **variable globale** pour les données et supprimer le paramètre `df` de la fonction.

On lit les données en début de fichier puis on travaille au sein des fonctions sur une copie du dataframe de données.


**En résumé les modifications à faire sont :**


- Supprimer le paramètre df de la fonction,
- Ajouter en début de fonction :  
```df = stroke_data_df.copy()```

1. Dans le fichier filters.py, il suffit d'ajouter : 
- lecture du fichier de données prétraitée dans la variable *df* en début de fichier (utiliser pandas),
- @app.get("/patients/") pour définir le route,
puis la fonction.

2. Dans le fichier api.py: appeler la fonction dans la route correspondante.

Tester la route avec 

```poetry run fastapi dev stroke_api/main.py```

http://127.0.0.1:8000/docs : utiliser la fonctionnalité Try it out pour tester la route.

---
## Autres routes

De la même manière, créer les fonctions appropriées pour la création de :
- la route `/patients/{id}` : Récupère les détails d’un patient donné (via son identifiant unique) 

- la route `/stats/` : Fournit des statistiques agrégées sur les patients (ex. : nb total de patients, âge moyen, taux d’AVC, répartition hommes/femmes).

- Lister les tâches à faire sous forme d'issue github : travailler sur une branche différentes pour l'ajout de chacune des routes.